@font-face {

"Ma Italic fonte"; src:url('./Raleway-Italic-VariableFont_wght.ttf');

"Ma   fonte"; src:url('./Raleway-VariableFont_wght.ttf');

}


a{
  text-decoration:none;

color:black;

}



.width_box_double_image{

width: 20%;

}

.width_menu{

width:50%;

}

.nav{

display:flex;
justify-content: space-between;

}

.d-flex{
display:flex;

}

.font_size_2em{

font-size:1.2em;

}

.font_size_1.2em_hebergement{

font-size:1.2em;

}

.gras{
  font-weight: bold;

}


.object_fit_cover{

object-fit: cover;

}

.object_fit_fill{

object-fit: fill;

}

.flex_wrap{

flex-wrap:wrap;

}

.flex_filtre{

display:flex;

}

.display_block{

display:block;
}

.display_none{

display:none;

}

.width_act{

width: 20%;

}

.width_20_pc{

width: 20%;

}

.width_50_pc{

width: 50%;

}

.width_60vh{

width:60vh;

}

.flex_hebergement{

display:flex;

}



.justify_content_space_between{

justify-content:space-between;

}

.justify_content_space_around{

justify-content:space-around;

}

.full_width{

width: 100%;

}

.full_height{

height: 100%;

}

.height_30_pc{

height:30%;

}

.flex_activité{

 width: 100%;justify-content: space-between;

}

.height_350px{

height:450px;

}


.height_10_vh{

height:10vh;

}

.full_width_vh{

width: 80vh;

}

.width_30_pc{

width: 30%;

}


.largeur_50_pc{

width: 50%;

}

.width_20_vh{

width : 20vh;

}

.width_50vh{

width:50vh;

}

.full_flex{
height:100%;
width:100%;

}



.buttom_search{

  color:white; margin-left:2%;


  border-top-right-radius: 19%  19%;
  border-bottom-right-radius: 19% 19%;
  font-size:1.5em; font-weight: bolder
}


.apparait {

  display:block;

  background-color: white;
}


.survol:hover ~ .apparait {
  background-color: #0065FC;
display: block;

}

.survol:hover{

color:blue;

}

   .margin_populaire{

margin-bottom: 3%;

}

.border_info{

  border:1px solid black; border-radius: 50%;
  width:35px;
  height:35px;

}

.align_text_info{

  text-align: center;
  padding: 8px  15px;

}

.border_search{

padding:70%; border:5px; border-radius:20%;

}

.padding_top_6px{

padding-top:6px;

}

.padding_filtre{

  padding-left: 5%;
}

.line_height_40px{

  line-height:40px;
}

.border-filtre{

   border: 1px solid black; border-radius: 20px;display:
   flex;width:20vh; padding: 5px;position: relative;
   margin-right:5%;

}

.border-filtre-image{

background-color:#DEEBFF;
border-radius: 100%; width: 40px; height: 40px;position: absolute;left: -8px; top:-3px;text-align: center;


}


.blue_dark{

color: #0065FC;

}

.back_blue_dark{

background-color: #0065FC;

}

.blue_claire{

color: #DEEBFF;

}

.grey{

color: grey;

}

.bordure-images{

border-top-left-radius: 10%;  border-top-right-radius: 10%;

}

.bordure-images-populaire{

 border-top-left-radius: 10%;
border-bottom-left-radius: 10%;

}

.pos_survol{

position:relative; top:70%;

}

.bordure_populaire{

 width: 80vh;
 border-radius: 10px;

  box-shadow: 1px 1px 5px #555;

}


.margin-right{

margin-right:2%;

}

.margin-right-13pc{

margin-right:13%;

}

.margin_right_8_pc{

margin-right:8%;

}

.margin_top_3_vh{

margin-top:3vh;

}

.margin-top{

margin-top: 2%;

}

.margin_top_3_pc{

margin-top:3%;

}

.margin_top_1pc{

margin-top:1%;

}

.margin_right_3_pc{

margin-right: 3%;

}

.margin_left{

margin-left: 1%;

}

.margin-left-5pc{

margin-left:5%;

}

.margin_left_40px{

margin-left: 40px;

}

.margin-bottom{

margin-bottom:5%;

}

.margin_bottom_1pc{

margin-bottom:1%;

}

.margin_bottom_3pc{

margin-bottom:3%;

}

.margin_star{

margin-bottom:7%;

}


.width_30vh{

width:30vh;

}

.height_1vh{

 height: 1vh;
}

.height_12vh{

height: 12vh;

}

.height_20vh{

height:20vh;

}

.height_44vh{

height:44vh;

}

.height_40vh{
height:40vh;

}


.height_49vh{

height:49vh;

}

.height_60_pc{

height:60%;

}


.padding_left_2pc{

padding-left:2%;

}

.padding_top_3_vh{

padding-top:3vh;

}





.image_fort{

height:20vh; width:100%;

}

.flex_column{

	flex-direction: column;

}




.list_card_hergement{

 margin-bottom:5%;
 display:flex;
}

.div_list_card{

height:auto; width:60%;


}


.taille_populaire{

height:22vh;
width: 20vh;
padding-top : 1%;
padding-bottom : 1%;
padding-left : 1%;
margin-bottom: 1%;

}

.menu_populaire{

margin-left:20%; margin-bottom:5%; width:70%;

}

.card_populaire{
margin-left:20%;
width: 70%;
margin-bottom: 2%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #555


}

.list_card_populaire{

  width: 50%;
}

.card{

  margin-right:2%;

}


.flex_box_populaire{

	margin-bottom:2%; width:100vh;

}


.taille_image{

	height:20vh; width:100%;
}

.cadre_activiter{

 padding-left:1%; height:100vh;

}



.flex-wrap-reverse{

   flex-wrap: wrap-reverse;

}

.parc{

height:60vh;
margin-left: 1%;

max-height:100%;
max-width:100%;

}

.image_parc{

  max-height:90%;
  max-width:100%;

}

 .flex_footer{
display:flex;

 }

.margin_bottom_footer{

margin-bottom:10%;

}

@media screen and (min-width:850px){



  .bordure_card{
  width: 70%;
  border:5px solid white; border-radius: 5%;
  box-shadow: 1px 1px 5px #555;

  }

  .border_menu{
 cursor: pointer;
  padding-left: 30%; padding-top: 5vh; width:15vh; border-top:3px solid #F2F2F2;

  }


  .border_menu:hover{
  padding-left: 30%; padding-top: 5vh; width:15vh; border-top:3px solid #0065FC;

  }

}

.width_port{

width: 20%;

}

.height_div_port{

height:94%;

}

.height_port{

height:100%;

}

.width_parc{

  width:45vh;
}

.height_parc{

height:95%;

}

.width_41vh{

width: 41vh;

}
.height_dame{

height:40%;

}

.height_image_dame{

  height:100%;
}

.height_image_calanque{

  height:100%;
}

.width_image_dame{

width:100%;

}


.height_champs{

height:40%;

}

.height_image_champs{

height:100%;

}

.flex_double_image{

display:flex;

}

@media screen and (min-width: 300px) and (max-width:800px)
{

  .height_champs{

  height:15vh;

  }


  .height_image_champs{

  height:80%;

  }


  .height_image_calanque{

    height:75%;
  }


.width_image_dame{

width:100%;

}

.height_image_dame{

height:15vh;

}

  .margin_left_40px{

  margin-left: 30px;

  }

  .margin_left_40px{

  margin-left: 30px;

  }


.width_41vh{

  width: 100%;

  }

.width_parc{

width: 100%;

}

.height_parc{

height:15vh;

}

  .height_port{

  height:80%;

  }


  .height_div_port{

  height:20vh;

  }


  .top_inscription{


  position:absolute; left:50%; top:-10px;

  }


}

@media screen and (max-width: 800px)
{




  .width_port{

  width: 100%;

  }




  .image_fort{

  height:12vh; width:100%;

 margin-bottom: 5%;

  }

  .width_box_double_image{

  height:100%;
  width: 100%;

  }

  .height_350px{

  height:100%;

  }

  .border-filtre{

     border: 1px solid black; border-radius: 20px;display:
     flex;
     width:25vh;
      padding: 5px;position: relative;
     margin-right:5%;
     margin-bottom: 5%;
  }

  .top_inscription{

  position:absolute; left:70%; top:-10px;

  }

  .width_menu{

  width:100%;

  }


  .nav{


display: block;

  }

  .font_size_2em_hebergement{

  font-size:2em;

  }

  .display_block{

  display:none;
  }

  .display_none{

  display:block;

  }

  .taille_populaire{

  height:22vh;
  width: 20vh;
  padding-top : 1%;
  padding-bottom : 2%;
  padding-left : 1%;
  margin-bottom: 1%;

  }
  .circle_info{

  border:0.1px solid black; border-radius:50%; padding:2%;

  }


.menu_populaire{

  margin-left:0%; margin-bottom:5%; width:100%;

  }


  .border_menu{

 padding-top: 5vh; width:15vh; border-bottom:3px solid #F2F2F2;

  }


  .border_menu:hover{
   padding-top: 5vh; width:15vh; border-bottom:3px solid #0065FC;

  }

  .flex_footer{

 display:block;

margin-top: 20%;
margin-top: 20%;
  }




  .margin_left{

  margin-left: 0%;
  }




    .flex_hebergement
    {
       display: flex;
       flex-direction: column-reverse;
    }



    .image_port{
   height:20vh;
    width:100%;
    }


    .width_act{

    width: 80%;

    }



.parc{
margin-left: 1%;

height:100%;


}

.image_parc{
 height:25vh;
 padding-right:1%;
  width:100%;
  max-width:100%;

}

.marge_filtre{

margin-top:5%;

margin-bottom: 5%;

}
    .flex_filtre{

    display:block;

    }

    .list_card_herbergement{
      display:block;
      width:100%;
     margin-right:1%;

    }


    .bordure_populaire{

     width: 100%;
     border-radius: 10px;



    }


    .list_card_hergement{

     width: 100%;

     margin-bottom:5%;
     display:block;
    }

    .taille_image{

	height:20vh;


    }

    .div_list_card{

    height:100%; width:100%;


    }

    .list_card_populaire{

      width: 100%;
    }
    .card_populaire{
    margin-left:0%;
    width: 100%;
    margin-bottom: 2%;
      border-radius: 20px;
      box-shadow: 1px 1px 3px #555


    }

    .card{

    height:30vh;  margin-right:2%;
  margin-bottom: 5%;

    }



  }
